@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,100..900;1,100..900&display=swap');
* {
padding: 0;
margin: 0;
box-sizing: border-box;
font-family: "Roboto", sans-serif;
}
a {
    text-decoration: none;
    display: inline-block;
}
:root {
    --primary: #3232FF;
    --dark: #212121;
    --white: #fff;
    --secondary: #F4F4F4;
    --grey: #E6E6E6;
    --placeholder: #B6B2B2;
    --danger: #B40019;
}
.container{
    margin-left: 100px;
    margin-right: 100px;
}
.container-fluid{
    margin-left: 20px;
    margin-right: 20px;
}
.primary-header{
    padding: 15px 0;
    background-color: var(--dark);
}
.primary-header a {
    color: var(--white);
}
.primary-header .container{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.primary-header nav {
    display: flex;
    align-items: center;
    gap: 20px;
}
.secondary-header{
    padding: 12px 0;
    background-color: var(--secondary);
}
.secondary-header .container-fluid{
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.secondary-header a{
    display: flex;
    align-items: center;
    gap: 7px;
}
.third-header{
background-color: var(--grey);
padding: 15px 0;
}
.third-header .container-fluid {
    display: flex;
    align-items: center;
    justify-content: space-between;
}
.third-header nav {
    display: flex;
    align-items: center;
    gap: 20px;
}
.third-header a {
    display: flex;
    align-items: center;
    gap: 7px;
}
/*main*/
.hot-news{
    padding: 30px 0;
    background-color: var(--dark);
}
.hot-news h1{
    color: var(--white);
    font-size: 32px;
    margin-bottom: 25px;
}
.hot-news-grid{
    display: grid;
    grid-template-columns: repeat(2, auto) ;
    gap: 30px;
}
.hot-news__item{
  height: 265px;
  border-radius: 30px;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  padding: 22px ;
  gap: 10px;
  color: var(--white) ;
}
.news-block{
    padding: 30px 0;

}
.news-block .container-fluid{
    display: grid;
    grid-template-columns: 1fr 400px;
    gap: 20px;
}
.news-block h3{
    font-size: 32px;
    color: var(--dark);
    margin-bottom: 25px;
}
.news-block__card{
    margin-bottom: 25px;
    display: grid;
    grid-template-columns: 275px 1fr;

}
.news-block__card h3{
    font-size: 18px;
    color: var(--dark);
}
.news-block__card a {
    color: var(--primary);
}
.news-block__img{
    width: 100%;
    border-top-left-radius: 30px;
    border-bottom-left-radius: 30px;
}
.news-block__info{
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    padding: 30px;
    gap: 10px;
    border-top-right-radius: 30px;
    border-bottom-right-radius: 30px;
}
.news-adv__card {
display:  flex;
flex-direction: column;
gap: 20px;
border-radius: 30px;
background-color: var(--secondary);
padding: 23px;
}
.news-adv__img{
width: 100%;
height: 240px;
object-fit: cover;
border-radius: 30px;
cursor: pointer;
margin-bottom: 20px;
}
.primary-text{
    color: var(--primary);

}
form{
    border-radius: 30px;
    background-color: var(--secondary);
    display: flex;
    flex-direction: column;
    gap: 14px;
    padding: 40px 20px;
}
form label{
    font-weight: 700;
}
form input{
border: 1px solid var(--grey);
padding: 14px 16px;
border-radius: 10px;
background-color: var(--white);
}
form button{
    width: 155px;
    padding: 16px 53px;
    background-color: var(--primary);
    color: var(--white);
    border-radius: 10px;
    border: none;
    cursor: pointer;
}
.alert-danger{
background-color: var(--danger);
border-radius: 30px;
display: flex;
flex-direction: column;
gap: 14px;
padding: 21px 34px;
color: var(--white);
}
.alert-danger h5{
    font-size: 24px;
}
.rounded-full-img{
    width: 100%;
    height: 434px;
    object-fit: cover;
    border-radius: 30px;
    margin-bottom: 41px;
}
.mb-10{
    margin-bottom: 10px;
}
.mb-15{
    margin-bottom: 15px;
}
/*main*/

/* footer */
.footer{
    background-color: var(--dark);
    padding: 85px 0;
    text-align: center;
    color: var(--white);
}
footer a {
    margin-bottom: 21px;
}

/* footer */
/* адаптив */
@media (max-width: 900px) {

    .container{
        margin-left: 60px;
        margin-right: 60px;
    }

    .news-block .container-fluid{
        grid-template-columns: 1fr;
    }

    .hot-news-grid{
        grid-template-columns: repeat(1, auto);
    }

    .news-block__card{
        grid-template-columns: 200px 1fr;
    }

}

/* телефон */
@media (max-width: 600px){

    .container{
        margin-left: 20px;
        margin-right: 20px;
    }

    .primary-header .container{
        flex-direction: column;
        gap: 10px;
    }

    .secondary-header .container-fluid{
        flex-direction: column;
        gap: 10px;
    }

    .third-header .container-fluid{
        flex-direction: column;
        gap: 10px;
    }

    .hot-news-grid{
        grid-template-columns: 1fr;
    }

    .news-block__card{
        grid-template-columns: 1fr;
    }

    .news-block__img{
        border-radius: 30px 30px 0 0;
        height: 220px;
        object-fit: cover;
    }

    .news-block__info{
        border-radius: 0 0 30px 30px;
    }

    .news-adv__img{
        height: 200px;
    }

}